:root {
  --black: #1c2035;
  --blue1: #4761ff;
  --blue-btn-hover: #3c4fc9;
  --white: #fff;
  --gray: #555;
}

/* ==================================== */
/*                ADMIN.hbs             */
/* ==================================== */
.adminDashboard .main-adminBx .showDataWeb {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 50px;
}
.adminDashboard .main-adminBx .showDataWeb .dataBx {
  border-radius: 10px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.adminDashboard .main-adminBx .showDataWeb .dataBx:hover {
  transform: translateY(-5px);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
}

.adminDashboard .main-adminBx .showDataWeb .dataBx:nth-child(1) {
  border-left: 5px solid #9dcaeb;
}
.adminDashboard .main-adminBx .showDataWeb .dataBx:nth-child(2) {
  border-left: 5px solid #fb6f92;
}
.adminDashboard .main-adminBx .showDataWeb .dataBx:nth-child(3) {
  border-left: 5px solid #b19cd7;
}
.adminDashboard .main-adminBx .showDataWeb .dataBx:nth-child(4) {
  border-left: 5px solid #fdd771;
}

.adminDashboard .main-adminBx .showDataWeb .dataBx .sumData {
  font-size: 24px;
  font-weight: 500;
  color: black;
  margin-bottom: 10px;
}
.adminDashboard .main-adminBx .showDataWeb .dataBx .nameData {
  font-size: 16px;
  color: black;
}
.adminDashboard .main-adminBx .showDataWeb .dataBx i {
  font-size: 40px;
  color: rgb(218, 218, 218);
}

.adminDashboard .main-adminBx .showGraph {
  position: relative;
  min-height: 200px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  margin-top: 50px;
}
.adminDashboard .main-adminBx .showGraph .graphBx {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.adminDashboard .main-adminBx .showGraph .graphBx canvas {
  width: 100% !important;
  height: 100% !important;
}

