.Article1,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Kanit", sans-serif;
}

p {
  margin: 10px 0px;
  color: #00000080;
}

.header-title {
  margin: 40px 0px 10px 0px;
  font-size: 30px;
  color: grey;
}

.header-content {
  margin: 40px 0px 10px 0px;
  font-size: 18px;
  font-weight: bold;
  color: grey;
}
