.Firstaid1,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Kanit", sans-serif;
}
.Firstaid2,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Kanit", sans-serif;
}
.Firstaid3,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Kanit", sans-serif;
}
.Firstaid4,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Kanit", sans-serif;
}
.Firstaid5,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Kanit", sans-serif;
}
.Firstaid6,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Kanit", sans-serif;
}

p {
  margin-top: auto;
  margin-bottom: auto;
}
