.NavTab {
  font-family: "Kanit", sans-serif;
}

.Nav-Link {
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  color: #333; /* สีข้อความเริ่มต้น */
  position: relative; /* เพื่อกำหนดพื้นที่สำหรับเพิ่ม element ย่อย */
}

.Nav-Link {
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  color: #333; /* สีข้อความเริ่มต้น */
  position: relative; /* เพื่อกำหนดพื้นที่สำหรับเพิ่ม element ย่อย */
}

.Nav-Link:before {
  content: ''; /* เพิ่ม element ใหม่ก่อนข้อความ */
  position: absolute; /* ตั้งค่าเป็นอย่างแน่นอน */
  width: 0%; /* เริ่มต้นเป็น 0% ให้กว้างเพิ่มขึ้นเมื่อ hover */
  height: 2px; /* ความสูงของเส้นใต้ข้อความ */
  background-color: transparent; /* สีเส้นเริ่มต้น */
  bottom: -5px; /* ให้เส้นอยู่ใต้ข้อความ */
  left: 0; /* ย้ายไปด้านซ้าย */
  transition: width 0.3s ease-in-out; /* เพิ่ม transition เมื่อ hover */
}

.Nav-Link:hover:before {
  width: 100%; /* เพิ่มความกว้างของเส้นใต้เมื่อ hover */
  background-color: rgb(92, 90, 90); /* เปลี่ยนสีของเส้นใต้เมื่อ hover */
}

.Nav-Link:hover {
  transform: translateY(-3px); /* ย้ายข้อความขึ้นเล็กน้อยเมื่อ hover */
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.Logout-Button {
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  background-color: transparent; /* สีพื้นหลังเริ่มต้น */
  color: #333; /* สีข้อความเริ่มต้น */
  border: 1px solid #333; /* เส้นขอบปุ่ม */
  padding: 8px 16px; /* ขนาดของปุ่ม */
  cursor: pointer; /* เปลี่ยนเคอเซอร์เป็นลูกศร */
}

.Logout-Button:hover {
  background-color: #333; /* เปลี่ยนสีพื้นหลังเมื่อ hover */
  color: #fff; /* เปลี่ยนสีข้อความเมื่อ hover */
  transform: translateY(-3px); /* ย้ายปุ่มขึ้นเล็กน้อยเมื่อ hover */
}
